.dropbtn {
  background-color: white;
  color: black;
  padding: 8px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position:inherit;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
body {
color: #000;
overflow-x: hidden;
height: 100%;
background-color: #ffffff;
background-repeat: no-repeat
}

.card0 {
box-shadow: 0px 4px 8px 0px #757575;
border-radius: 0px
}

.card2 {
margin: 0px 40px
}

.logo {
width: 200px;
height: 100px;
margin-top: 20px;
margin-left: 35px
}

.image {
width: 360px;
height: 280px
}

.border-line {
border-right: 1px solid #EEEEEE
}

.facebook {
background-color: #3b5998;
color: #fff;
font-size: 18px;
padding-top: 5px;
border-radius: 50%;
width: 35px;
height: 35px;
cursor: pointer
}

.twitter {
background-color: #1DA1F2;
color: #fff;
font-size: 18px;
padding-top: 5px;
border-radius: 50%;
width: 35px;
height: 35px;
cursor: pointer
}

.linkedin {
background-color: #2867B2;
color: #fff;
font-size: 18px;
padding-top: 5px;
border-radius: 50%;
width: 35px;
height: 35px;
cursor: pointer
}

.line {
height: 1px;
width: 45%;
background-color: #E0E0E0;
margin-top: 10px
}

.or {
width: 10%;
font-weight: bold
}

.text-sm {
font-size: 14px !important
}

::placeholder {
color: #BDBDBD;
opacity: 1;
font-weight: 300
}

:-ms-input-placeholder {
color: #BDBDBD;
font-weight: 300
}

::-ms-input-placeholder {
color: #BDBDBD;
font-weight: 300
}

input,
textarea {
padding: 10px 12px 10px 12px;
border: 1px solid lightgrey;
border-radius: 2px;
margin-bottom: 5px;
margin-top: 2px;
width: 100%;
box-sizing: border-box;
color: #2C3E50;
font-size: 14px;
letter-spacing: 1px
}

input:focus,
textarea:focus {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
border: 1px solid #304FFE;
outline-width: 0
}

button:focus {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
outline-width: 0
}

a {
color: inherit;
cursor: pointer
}

.btn-blue {
background-color: #7B68EE;
width: 150px;
color: #fff;
border-radius: 2px
}

.btn-blue:hover {
background-color: #7B68EE;
cursor: pointer
}

.bg-blue {
color: #fff;
background-color: #8f8692
}

@media screen and (max-width: 991px) {
.logo {
margin-left: 0px
}

.image {
width: 300px;
height: 220px
}

.border-line {
border-right: none
}

.card2 {
border-top: 1px solid #EEEEEE !important;
margin: 0px 15px
}
button#toggle-password {
background: none;
border: none;
cursor: pointer;
/* Media query isn't shown here. */
font-size: var(--mobile-font-size);
font-weight: 300;
padding: 0;
/* Display at the top right of the container */
position: absolute;
top: 0;
right: 0;
}
}