body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("../images/lightest.png");
    background-size: 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30rem;
}
